certifi==2022.12.7
chardet==3.0.3
cycler==0.10.0
decorator==4.0.11
dj-database-url==0.4.1
Django==1.11.28
gunicorn==19.6.0
idna==2.5
ipython-genutils==0.2.0
jsonschema==2.6.0
jupyter-core==4.3.0
nbformat==4.3.0
numpy==1.12.1
olefile==0.44
Pillow==6.2.0
plotly==2.0.9
psycopg2==2.6.2
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
requests==2.20.0
six==1.10.0
traitlets==4.3.2
urllib3==1.24.2
whitenoise==3.2
