{% extends "training_tracker/__base.html" %}

{% block content %}

<div class="row">
    <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
        <h1>Add miles</h1>
        <!-- form sends post data along with run id to post_miles in views.py-->
        <form method="post">
            {% csrf_token %}
            <!-- add inputs for each mile ran for this run_id -->
            {{ form_set.management_form }}

            {% for form in form_set %}
                <h3>Mile {{ forloop.counter }}</h3>
                {{ form }}
            {% endfor %}
            <input class="form-control mt-submit" type="submit" value="Add Miles">
        </form>
    </div>
</div>
<!-- allow user to skip entering mile info -->
<a href="/training_tracker">Skip</a>

{% endblock %}