{% extends "training_tracker/__base.html" %}

{% block content %}

<h1>Add a run</h1>

<form action="{% url 'training_tracker:post_run' %}" method="post">
    {% csrf_token %}
    <label for="runner">Name: </label>
    <select name="runner" id="runner">
        {% for runner in runners %}
        <option name="{{ runner.name }}" value="{{ runner.pk }}">{{ runner.name }}</option>
        {% endfor %}
    </select>
    <br/>

    <label for="run-date">Date:</label>
    <input type="date" name="run-date" id="run-date" required>

    <label for="tot-distance">Distance: </label>
    <input type="text" name="tot-distance" id="tot-distance" placeholder="Enter miles ran." required><br/>

    <label for="hours">Hours: </label>
    <input type="text" name="hours" id="hours" placeholder="Enter hours." required><br/>

    <label for="minutes">Minutes: </label>
    <input type="text" name="minutes" id="minutes" placeholder="Enter minutes."><br/>

    <label for="seconds">Seconds: </label>
    <input type="text" name="seconds" id="seconds" placeholder="Enter seconds." required><br/>

    <input type="submit" value="Add Run">
</form>

{% endblock %}