{% extends "training_tracker/__base.html" %}

{% load tt_extra_tags staticfiles %}

{% block content %}

<div class="row">
    <div class="col-md-4 col-lg-4 col-md-offset-4 col-lg-offset-4">
        <div>
            <h1>Edit runner profile</h1>
            <br/>
            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="form-control mt-submit" type="submit" value="Save changes">
            </form>
        </div>
    </div>
</div>
<br/>

{% endblock %}
