{% extends "training_tracker/__base.html" %}

{% block content %}

    <h1>Welcome to the training tracker app</h1>
    {% if user.is_authenticated %}
    {% else %}
    {% endif %}
    <!-- list current runners if there are any -->
    {% if runners %}
        <h3>Current runners:</h3>
        <ul>
            {% for runner in runners %}
                <li>{{runner.name}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>No active runners</h3>
    {% endif %}
{% endblock %}