{% extends "training_tracker/__base.html" %}

{% load tt_extra_tags %}

{% block content %}

<h1>View Runs</h1>
<select class="runner-select">
    <option id="runner-select-all" value="all">All Runners</option>
    {% for run_history in run_histories %}
        <option id="runner-select-{{ run_history.runner_id }}" value="{{ run_history.runner_id }}">{{ run_history.runner }}</option>
    {% endfor %}
</select>
    
{% if run_histories %}
    {% for run_history in run_histories %}
        <div class="">
            <div class="run-history-info row" id="run-history-info-{{ run_history.runner_id }}">
                <div class="run-history-list col-md-3 col-lg-3">
                    <h1>{{ run_history.runner }}</h1>
                    {% if run_history.runs %}
                    <ul>
                        {% for run in run_history.runs %}
                            <li>{{ run.date }} - {{ run.total_distance }} miles,
                                {% if run.hours %}{{ run.hours }}:{% endif %}{{ run.minutes|stringformat:"02d" }}:{{ run.seconds|stringformat:"02d" }}</li>
                                <ul>
                                    {% for mile in run.miles %}
                                        {% if not mile %}
                                            <li>Record miles please</li>
                                        {% endif %}
                                        <li>Mile {{ forloop.counter }}: {{ mile.minutes }}:{{ mile.seconds|stringformat:"02d" }}</li>
                                    {% endfor %}
                                </ul>
                        {% endfor %}
                    </ul>
                </div>
                {% run_history_chart_context 1%}
            </div>

            {% else %}
            <p>No runs to report</p>

            {% endif %}
        </div>
    {% endfor %}

{% else %}
<p>No runs to report.</p>

{% endif %}

{% endblock %}