/* page content */
.container {
    position:relative;
    width:100%;
    overflow: hidden;
    padding-bottom: 50px;
}

select.runner-select{
    width:200px;
}

.dropdown:hover .dropdown-menu {
    display:block;
    margin-top:0;
}
/* active nav link */
li .active {
    background-color:#DCDCDC;
}

/* submit button */
.mt-submit {
    background-color:#DCDCDC;
    margin-top:20px;
}

.mt-submit:hover {
    background-color:#E7E7E7;
}

/* view-runs.html */
.run-history-info {
    overflow-y: hidden;
    height:300px;
    clear:both;
    padding-top:2.5%;
}

.run-history-list {
    height:100%;
    overflow-y: auto;
}

.run-history-list h1 {
    font-size:18px;
}

.run-history-list::-webkit-scrollbar {
    height:300px;
}

.run-history-list::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius:10px;
}

.run-history-list::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.05);
    border-radius:10px;
}

.accordion-section-title {
    background-color:#DCDCDC;
    height: 25px;
    padding-left:5px;
    line-height:25px;
    outline:1px solid;
    margin-top: 1px;
}

.caret {
  border-bottom-width: 0;
  border-top-width: 5px;
  border-top-style: solid;
}

.caret-right {
  height:0;
  width:0;
  border-left: 5px solid black;
  border-right: 0;
  border-top: 2.5px solid transparent;
  border-bottom: 2.5px solid transparent;
}